*{
  font-family: Gill Sans, sans-serif;
  color: #366B50;
}

.header{
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
  background: radial-gradient(40% 50%, #FAECD5, #CAE4D8);
}

.header img{
  border-radius: 1em;
  border-color: whitesmoke;
  box-shadow: black 0.5em 0.5em 0.3em;
  margin-right: -100%;
  margin-left: 20px;
}

.upper-nav{
  text-align: center;
}

 button{
  height: 60px;
  width: 180px;
  border-radius: 1em;
  border-style: outset;
  margin: 7px;
  box-shadow: #CAE4D8 0.5em 0.5em 0.3em;
}

 .leftside-nav1 button{
   width: 70%;
 }

 .leftside-nav1{
   float: left;
   width: 25%;
 }

section::after {
  content: "";
  display: table;
  clear: both;
}

#output{
  margin-left: 20px;
}

.output{
  float: left;
  width: 70%;
  border: 1px solid black;
  overflow: scroll;
  height: 600px;
   margin-top: 20px;
  text-align: center;
  vertical-align: middle;
 }

h1, h2, h3, code{
  text-shadow: 3px 3px 3px #6C9;
}


